.linkNav:hover
{
    color: slategray;
    text-decoration: none;
    font-weight: bold;
}
.linkNav
{
    color: ghostwhite;
    text-decoration: none;
    font-weight: bold;
}
.Nav
{
    color: ghostwhite;
    text-decoration: none;
    font-weight: bold;
}
table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid gray;
   padding:5px;
}
.tableNav{
    background-color: #F215f2;
    color:#F215f2;
    border: "5";
    border-color: gray;
    align-content:"center";
    width:100%;
}
.imgArt{
    width:304px;
    height:228px;
}